<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.sf.mapper.MenuDishPhotoMapper">
    <resultMap id="BaseResultMap" type="com.erp.sf.entity.MenuDishPhoto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="menuDIshId" column="menu_dish_id" jdbcType="BIGINT"/>
        <result property="data" column="data" jdbcType="BLOB"/>
    </resultMap>
    <sql id="Base_Column_List">
        su.`id`,
        su.`menu_DISH_Id`,
        su.`data`,
    </sql>
    <select id="selectMenuDishPhotoBySeason" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from
    MenuDishPhoto mdp
    left join MenuDishText mdt on mdp.menu_Dish_id = mdt.id
    where mdt.season = #{season}

    </select>
</mapper>
