<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.sf.mapper.MenuDishTextMapper">

    <resultMap type="com.erp.sf.entity.MenuDishText" id="BaseResultMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="chineseName" column="chinese_name" jdbcType="VARCHAR"/>
        <result property="englishName" column="english_name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="INTEGER"/>
        <result property="season" column="season" jdbcType="INTEGER"/>
        <result property="visible" column="visible" jdbcType="INTEGER"/>
        <result property="deleteAt" column="delete_at" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        mdt
        .
        `id`
        ,
        mdt.chines_name,mdt.english_name,mdt.price,mdt.season,mdt.visible,mdt.delete_at
    </sql>
</mapper>

